@import 'normalize.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --primary: #76E1DB;
    --white: #f4e6cd;
    --black: #1e211e;
    --spacing--letter-spacing-h1: -.045em;
    --spacing--line-height-h2: 1em;
    --primary-hover: #a29a65;
    --border: #1e211e33;
    --box: #a58f6417;
    --text-medium: #1e211e;
    --spacing--letter-spacing-h2: -.03em;
    --spacing--line-height-h1: .9em;
    --text-light: #b4b4b4;
    --box-full-color: #edddc3;
    --transparent: transparent;
    --primary-dark: #7b7447;
    --text-primary: #171A1C;

    --green-color: "#2C954B",
    --red-color: "#FF3A3D"

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
    
    
}

body {
    margin: 0;
    padding: 0;
    color: var(--text-primary);
    font-family: "Inter", sans-serif;
    // background-color: #EEF1F4;

    background: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
    
   
    // background: rgb(252, 252, 252);
    // background: linear-gradient(6deg, rgba(252, 252, 252, 1) 0%, rgba(239, 245, 245, 1) 100%);

}

